.login-page{
  display: grid;
  height:100vh;
  grid-template-columns: 60% 40%;
  width: 100%;
  background: linear-gradient(
    to right,
    #B4D8FF 0%,
    #B4D8FF 60%,
    #292c43 60%,
    #292c43 100%
  );

}
.loginform-container{
  background-color: #B4D8FF; /* Add background color for visualization */
  padding: 20px;
  

}
.loginform-section2{
background-color: #292c43; /* Add background color for visualization */
padding: 20px;
margin-left: 0%;
height: 95%;
width: 100%;
text-align: center;
vertical-align: bottom;

}
.form-header{
text-align: left;
margin-bottom: 10%;
font-size: 45px;
width: 100%;
color: #292C43
}
.test-login{
  height: 95%;
  width:100%;
}
.login-form {
  position: relative;
  left: 10px;
  border-style: none;
  border-color: green;
  height: 95%;
  width:60%;
  margin: 0 auto;
  padding: 20px;
  max-width: calc(100vh-60px);
  border-radius: 5px;
  background-color: #B4D8FF;
  vertical-align: bottom;
}



.loginform-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

.login-username-input,.login-password-input{
  width: 70%;
  padding: 2%;
  margin-bottom: 5%;
  border-style:none;
  border-radius: 10px;
  font-size: 35px;
}
input::placeholder {
  font-size: 40px; /* Adjust the font size to your desired value */
}


.log-in-button{
  
  
  position: relative;
  width: 60%;
  margin-top: 36%;
  background-color: #292c43;
  color: #B4D8FF;
  border: none;
  height: 100%;
  font-weight: 600;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 40px;
  cursor: pointer;
  border-style: solid;
  border-color: #516CC4;
  border-width: 5px;
  bottom: 0%;
  left: 0%;
}

.toSignup-page{
width:55%;
position: relative;
background-color: #B4D8FF;
color: #292c43;
border: none;
height: 70%;
min-height: 4%;
font-weight: 600;
border-radius: 25px;
padding-left: 10px;
padding-right: 10px;
font-size: 40px;
cursor: pointer;
margin-left: 8px;
border-style: solid;
border-color: #516CC4;
border-width: 5px;
bottom: 4.5%;
left: 0; 
}
.login-header-text{
position: relative;
color: #516CC4;
font-weight: bold;
margin-top: 7%;
margin-left: 0px;
font-size: 35px;
width: 100%;

}
.login-header-image{
  
  width: 40%;
}

.login-welcome-text{
position: relative;
color: white;
font-weight: bold;
margin-top: 10%;
font-size: 80px;
margin-bottom: 46%;
}

.my-image{
position: relative;
width: 4%;
margin-top: 11%;
right:21.3%;
top:20%;
margin-bottom: 0%;
}
.wisher-container{
position: relative;
border-style: solid;
border-color: #000000;
}